@model SalesWebMVC.Models.Seller

@{
    ViewData["Title"] = "Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(mode => Model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(mode => Model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(mode => Model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(mode => Model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(mode => Model.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(mode => Model.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(mode => Model.BaseSalary)
        </dt>
        <dd>
            @Html.DisplayFor(mode => Model.BaseSalary)
        </dd>
        <dt>
            @Html.DisplayNameFor(mode => Model.Department)
        </dt>
        <dd>
            @Html.DisplayFor(mode => Model.Department.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>